name: UMAPATCHER

on:
  repository_dispatch:
    types: [build-patch]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Fetch and Parse Update Data
        id: get_data
        run: |
          JSON_DATA=$(curl -s "${{ secrets.QOOAPP_JSON_URL }}")

          echo "BASE_APK_URL=$(echo $JSON_DATA | jq -r '.data.download')" >> $GITHUB_ENV
          echo "SPLIT_APK_URL=$(echo $JSON_DATA | jq -r '.data.split_apks[0].url')" >> $GITHUB_ENV
          echo "APK_VERSION=$(echo $JSON_DATA | jq -r '.data.apk.version_name')" >> $GITHUB_ENV

      - name: Set Default URLs and Extract libmain Version
        id: extract_version
        run: |
          URL="${{ secrets.LIBMAIN_SO_URL }}"

          echo "KEYSTORE_URL=https://github.com/kairusds/UmaPatcher-Edge/raw/refs/heads/main/app/debug.keystore" >> $GITHUB_ENV
          echo "LIBMAIN_SO_URL=$URL" >> $GITHUB_ENV

          USERNAME=$(echo "$URL" | grep -oP 'github\.com/\K[^/]+')
          REPO=$(echo "$URL" | grep -oP 'github\.com/[^/]+/\K[^/]+')

          # Get the tag of the latest release from the GitHub API

          if echo "$URL" | grep -q "/latest/download/"; then
            VERSION=$(curl -s "https://api.github.com/repos/$USERNAME/$REPO/releases/latest" | jq -r '.tag_name')
          else
            VERSION=$(echo "$URL" | grep -oP 'releases/download/\K[^/]+')
          fi

          echo "LIBMAIN_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Run UMAPATCHER Script
        run: |
          python upatcher.py \
            --baseapk_dlink ${{ env.BASE_APK_URL }} \
            --splitapk_dlink ${{ env.SPLIT_APK_URL }} \
            --libmain_url ${{ env.LIBMAIN_SO_URL }} \
            --keystore_url ${{ env.KEYSTORE_URL }}

      - name: Generate BLAKE3 Checksum
        run: |
          sudo apt-get update && sudo apt-get install -y b3sum
          HASH=$(b3sum umamusume.apk | awk '{print $1}')
          echo "{\"umamusume.apk\": \"$HASH\"}" > blake3.json

      - name: Upload Patched APK to Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            umamusume.apk
            blake3.json
          tag_name: ${{ env.LIBMAIN_VERSION }}
          body: |
            This is an automatic release of the patched Umamusume APK.

            APK Version: **${{ env.APK_VERSION }}**

            - Patched with the latest `libmain.so` from my fork, version **${{ env.LIBMAIN_VERSION }}**.
            - Supports Arm64-v8a architecture.

            **Sources:**
            - Base APK: [Download](${{ env.BASE_APK_URL }})
            - Split APK (arm64-v8a): [Download](${{ env.SPLIT_APK_URL }})
            - Patched libmain.so: [Download](${{ env.LIBMAIN_SO_URL }})
            - Keystore: [Download](${{ env.KEYSTORE_URL }})

      - name: Upload Patched APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: uma-apk-patch
          path: umamusume.apk
